@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer utilities {
  .glass-panel {
    @apply relative transition-all duration-[1000ms] bg-white/60 border border-slate-200/50 text-slate-800 dark:bg-slate-950/40 dark:border-white/10 dark:text-gray-100 backdrop-blur-xl;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  }

  :is(.dark .glass-panel) {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }

  .animate-pulse-slow {
    animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}